.card-style{
    border-radius: 13px;
    box-shadow: 1px 2px 4px 5px rgba(151, 150, 151, 0.067)
}

.title-style::after{
    display: block;
    content: "";
    position: absolute;
    top: 58px;
    width: 377px;
    height: 1px;
    background-color: black;
     
}

.text-style{
    background-color: #f3f3f3;
    padding: 8px;
    border-radius: 5px;
    height: 150px;


}